* {
    margin: 0;
    padding: 0;
    width: auto;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}